<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/pagamento.css">
    <title>pagamento</title>
</head>
<body>
    <header>
        <img src="../images/Logo.svg" alt="">
        <a href="#" target="_self" rel="nofollow">HOME</a>
    </header>
    <main>
        <div class="endereco">
            <h2>Endereço de Entrega</h2>
            <div class="selecionar_todos">
                <span>Jose Campos Reis   +55 1691012536 Rua dos dinossauros /60 casa</span>
            </div>
        </div>
        <div class="pagamento">
            <h2>Métodos de Pagamento</h2>
            <div class="forma_de_pagamento">
                <img src="../images/credit_card_FILL0_wght400_GRAD0_opsz48 1.svg" alt="">
                <p>Pagamento instantâneo via cartão</p>
                <span>Mudar meio de pagamento</span>
            </div>
        </div>
        <div class="menu_itens">
            <div class="itens_carrinho">
                <img src="../images/image 1.png" alt="item selecionado">
                <p>Macaroon de amóra silvestre 12 Unidades</p>
                <span id="valor">R$ 43,90</span>
                <div class="editar_quantidade">
                    <span class="quantidade">Quantidade</span>
                    <div class="botao">
                        <img src="../images/+.png" alt="">
                            <span>2</span>
                        <img src="../images/-.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <aside>
            <div class="total">
                <h2>Total</h2>
                <span>Total</span>
                <span>R$ 43,90</span>
                <button>Pagar Agora</button>
            </div>
        </aside>
        <div class="imagem">
            <img src="../images/E-Wallet-pana 1.png" alt="" height="300px" width="300px">
        </div> 
    </main>
    <footer>
        <span>Todos os direitos Reservados</span>
        <span>Saiba Mais</span>
    </footer>
</body>
</html>